{{ partial "header.html" . }}
<body class="animate-page" data-spy="scroll" data-target="#navbar" data-offset="100">
  <!--Preloader div-->
  <div class="preloader"></div>


  <!-- // End Fixed navbar -->

  <header id="top" class="header-video-module">
    <div class="video-container">
      <div class="header">
        <div class="container">

          <div class="header_top-bg">
            <div class="logo">
              <a href="#"><img src="images/floripa/gophercon-floripa-v4.png" alt="GopherConBR" width="10%"></a>
            </div>
          </div>
            <h4>
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).notice }}
            </h4>
        </div>
      </div>
    </div>
  </header>

  {{ partial "footer.html" . }}
