{{ partial "header.html" . }}

<body class="animate-page" data-spy="scroll" data-target="#navbar" data-offset="100">
  <!--Preloader div-->
  <div class="preloader"></div>

  <!-- Fixed navbar -->
  {{ partial "navbar.html" . }}

  <!-- // End Fixed navbar -->

  <header id="top" class="header-video-module">
    <div class="video-container">
      <div class="header">
        <div class="container">

          <div class="header_top-bg">
            <div class="logo">
              <a href="#"><img src="images/floripa/gophercon-floripa-v4.png" alt="GopherCon Brasil" width="30%"></a>
            </div>
          </div>

          <div class="when_where">
            <h4 class="event_when">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).date }}
            </h4>
            <p class="event_where">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).local }}
            </p>

            <h3 class="text-white">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).text_desc }}
            </h3>
          </div>
          <div style="padding: 25px 0 15px;">
            <a class="btn btn-success btn-xl" href="https://www.sympla.com.br/gophercon-brasil-2020__664075" target="_blank">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).registration }}
            </a>
          </div>
        </div>
        <!-- end .container -->
      </div>

<!--      <div class="filter"></div>-->
      <div class="poster">
        <img src="images/hard_rock.jpeg" alt="Hard Rock Live">
      </div>
<!--      <video autoplay="" muted="" loop="" class="fullWidth video-header">-->
<!--        <source src="/video/floripa.webm" type="video/webm" />-->
<!--      </video>-->

    </div>

  </header>

  <!--
  Highlight Section
  ====================================== -->

  <section class="highlight">

    <div class="container">
      <p class="lead text-center">
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).text_center }}
      </p>

      <div class="countdown_wrap">

        <h6 class="countdown_title text-center">
          {{ ( index $.Site.Data.translations $.Site.Params.locale ).countdown_date }}
        </h6>

        <!-- Countdown JS for the Event Date Starts here.
        TIP: You can change your event time below in the Same Format.  -->

        <ul id="countdown" data-event-date="30 september 2022 08:00:00">
          <li> <span class="days">00</span>
            <p class="timeRefDays">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).days }}
            </p>
          </li>
          <li> <span class="hours">00</span>
            <p class="timeRefHours">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).hours }}
            </p>
          </li>
          <li> <span class="minutes">00</span>
            <p class="timeRefMinutes">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).minutes }}
            </p>
          </li>
          <li> <span class="seconds">00</span>
            <p class="timeRefSeconds">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).seconds }}
            </p>
          </li>
        </ul>
      </div>
      <!-- end .countdown_wrap -->

      <div class="text-center">

        <!-- Add to Calendar Plugin.
        For Customization, Visit https://addtocalendar.com/ -->

        <span class="addtocalendar atc-style-theme">
          <a class="atcb-link">
            <i class="fa fa-calendar"> </i>
            {{ ( index $.Site.Data.translations $.Site.Params.locale ).add_calendar }}
          </a>
          <var class="atc_event">
            <var class="atc_date_start">2022-09-30 08:00:00</var>
            <var class="atc_date_end">2022-10-01 19:00:00</var>
            <var class="atc_timezone">America/Sao_Paulo</var>
            <var class="atc_title">GopherCon Brasil</var>
            <var class="atc_description">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).text_desc }}
            </var>
            <var class="atc_location">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).local }}
            </var>
          </var>
        </span>

      </div>

    </div>
    <!-- end .container -->

  </section>
  <!--   end section.highlight-->

  {{ partial "schedule.html" . }}

  <!--  {{ partial "faq.html" . }}-->

  {{ partial "venue.html" . }}

   {{ partial "accommodation.html" . }}

  {{ partial "sponsors_new.html" . }}

  {{ partial "footer.html" . }}