    <section class="highlight accommodation">

        <div class="container">
            <div class="section-title wow fadeInUp">
                <h4>Where to stay</h4>
                <p>Finding a good hotel can be tricky. So here are some of our favorite hotels nearby event location</p>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail wow fadeInUp">
                        <img src="images/hotel_1.jpg" alt="Atholl Palace Hotel">
                        <div class="caption">
                            <h6 class="caption-title">Atholl Palace Hotel</h6>
                            <p class="caption-text">From $90 per night</p>
                            <p class="text-center"><a href="#" class="btn btn-outline" role="button">Visit Website</a> </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail wow fadeInUp" data-wow-delay="0.3s">
                        <img src="images/hotel_2.jpg" alt="The Four Seasons Hotel">
                        <div class="caption">
                            <h6 class="caption-title">The Four Seasons Hotel</h6>
                            <p class="caption-text">From $120 per night</p>
                            <p class="text-center"><a href="#" class="btn btn-outline" role="button">Visit Website</a> </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
                    <div class="thumbnail wow fadeInUp" data-wow-delay="0.6s">
                        <img src="images/hotel_3.jpg" alt="The Gleneagles Hotel">
                        <div class="caption">
                            <h6 class="caption-title">The Gleneagles Hotel</h6>
                            <p class="caption-text">From $45 per night</p>
                            <p class="text-center"><a href="#" class="btn btn-outline" role="button">Visit Website</a> </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end .container -->
    </section>