    <section class="highlight accommodation">

        <div class="container">
            <div class="section-title wow fadeInUp">
                <h4>Onde Ficar</h4>
                <p>Selecionamos alguns hotéis proximos ao local do evento.</p>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail wow fadeInUp">
                        <img src="images/floripa/canasvieiras-international.jpg" alt="Hotel Canasvieiras Internacional">
                        <div class="caption">
                            <h6 class="caption-title">Hotel Canasvieiras Internacional</h6>
                            <p class="caption-text">A partir de R$ 200 por noite</p>
                            <p class="text-center"><a href="http://www.redemardecanasvieiras.com.br/hotel-mardecanasvieiras-internacional-florianopolis.php" class="btn btn-outline" role="button">Visite o Website</a> </p>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="section-title wow fadeInUp">
                              <p>Em breve mais hotéis...</p>
            </div>

            </div>

        </div>
        <!-- end .container -->
    </section>