    <footer>

        <div class="social-icons">
            <a href="https://twitter.com/gopherconbrasil"> <i class="fa fa-twitter"></i> </a>
            <a href="https://www.facebook.com/gopherconbrasil"> <i class="fa fa-facebook"></i> </a>
        </div>
        <p> <small class="text-muted">© Copyleft 2016 GopherConBR</small></p>
        <p class="small character-copyright">
          {{ ( index $.Site.Data.translations $.Site.Params.locale ).character_copyright }}
          <a href="http://reneefrench.blogspot.com/" target="blank">Renee French</a>
          {{ ( index $.Site.Data.translations $.Site.Params.locale ).license }}
          <a href="http://creativecommons.org/licenses/by/3.0/us/" target="blank">Creative Commons Attribution 3.0.</a>
        </p>
        <p class="small">
          {{ ( index $.Site.Data.translations $.Site.Params.locale ).aerial_images }}
          <a href="http://santosleandro.com" target="blank">Leandro Santos</a>
        </p>
        <p class="small">
          <a href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).coclink }}">
            {{ ( index $.Site.Data.translations $.Site.Params.locale ).coc }}
          </a>
        </p>
    </footer>

    <a href="#top" class="back_to_top"><img src="/images/back_to_top.png" alt="back to top"></a>

    <!--
     Javascripts : Nerd Stuff :)
     ====================================== -->

    <!-- jQuery Library -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- 3rd party Plugins -->
    <script src="/js/plugins/countdown.js"></script>
    <script src="/js/plugins/slick.js"></script>
    <script src="/js/plugins/magnific-popup.js"></script>
    <script src="/js/plugins/validate.js"></script>
    <script src="/js/plugins/appear.js"></script>
    <script src="/js/plugins/count-to.js"></script>

    <!-- JS Includes -->
    <script src="/js/includes/subscribe.js"></script>
    <script src="/js/includes/contact_form.js"></script>

    <!-- Main Script -->
    {{ if eq .URL "/" }}
      <script src="/js/main.js"></script>
    {{ end }}

</body>

</html>
