<section class="gallery" id="gallery">
    <div class="container">
        <div class="nav-center bottom-space-lg">
            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#photo-gallery" aria-controls="photo-gallery" role="tab" data-toggle="tab">Photos</a></li>
            </ul>

        </div>

        <div role="tabpanel" class="tab-pane active" id="photo-gallery">

          <div class="popup-gallery">

              <div class="row">

                  <div class="col-md-6">
                      <a href="images/hotel/hotel.jpg" title="">
                        <img src="images/hotel/hotel.jpg" alt="frente hotel" class="img-responsive wow fadeIn">
                      </a>
                  </div>

                  <div class="col-md-6">
                      <div class="row">

                          <div class="col-sm-6">
                              <a href="images/hotel/hotel2.jpg" title="">
                                <img src="images/hotel/hotel2.jpg" alt="predio hotel" class="img-responsive wow fadeIn" data-wow-delay="0.2s">
                              </a>
                          </div>

                          <div class="col-sm-6">
                              <a href="images/hotel/salao.jpg" title="">
                                <img src="images/hotel/salao.jpg" alt="salao hotel" class="img-responsive wow fadeIn" data-wow-delay="0.2s">
                              </a>
                          </div>

                      </div>
                      <!-- end .row -->

                      <div class="row">

                          <div class="col-sm-6">
                              <a href="images/hotel/restaurante.jpg" title="">
                                <img src="images/hotel/restaurante.jpg" alt="restaurante hotel" class="img-responsive wow fadeIn" data-wow-delay="0.4s">
                              </a>
                          </div>

                          <div class="col-sm-6">
                              <a href="images/hotel/restaurante2.jpg" title="">
                                <img src="images/hotel/restaurante2.jpg" alt="restaurante hotel" class="img-responsive wow fadeIn" data-wow-delay="0.4s">
                              </a>
                          </div>

                          <div class="col-sm-6">
                              <a href="images/hotel/piscina2.jpg" title="">
                                <img src="images/hotel/piscina2.jpg" alt="piscina e visao hotel" class="img-responsive wow fadeIn" data-wow-delay="0.4s">
                              </a>
                          </div>

                          <div class="col-sm-6">
                              <a href="images/hotel/piscina.jpg" title="">
                                <img src="images/hotel/piscina.jpg" alt="piscina e visao hotel" class="img-responsive wow fadeIn" data-wow-delay="0.4s">
                              </a>
                          </div>

                      </div>
                      <!-- end .row -->

                  </div>

              </div>
              <!-- end .row -->

          </div>
          <!-- end .popup-gallery -->
      </div>
      <!-- end .tabpanel -->
    </div>
  </section>
