<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand logo-dark" href="{{ if eq .Site.Params.locale "en-US" }}/en{{end}}/#top">
                <img src="/images/floripa/gophercon-floripa-v2.png" alt="GopherConBR" height="50px">
              </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right center-navbar">
                  <li class="active">
                    <a href="{{ if eq .Site.Params.locale "en-US" }}/en{{end}}/#top">
                      Home
                    </a>
                  </li>
                  <li>
                    <a href="{{ if eq .Site.Params.locale "en-US" }}/en{{end}}/#venue" class="hidden-sm">
                      {{ ( index $.Site.Data.translations $.Site.Params.locale ).venue }}
                    </a>
                  </li>
                  <li>
                    <a href="{{ if eq .Site.Params.locale "en-US" }}/en{{end}}/#accommodation" class="hidden-sm">
                      {{ ( index $.Site.Data.translations $.Site.Params.locale ).accommodation }}
                    </a>
                  </li>
                  <li>
                    <a href="{{ if eq .Site.Params.locale "en-US" }}/en{{end}}/#sponsors" class="hidden-sm">
                      {{ ( index $.Site.Data.translations $.Site.Params.locale ).sponsors }}
                    </a>
                  </li>
                  <li>
                    <a href="/{{ if eq .Site.Params.locale "pt-BR" }}en{{end}}" class="hidden-sm">
                      {{ if eq .Site.Params.locale "pt-BR" }}ENGLISH{{end}}
                      {{ if eq .Site.Params.locale "en-US" }}PORTUGUES{{end}}
                    </a>
                  </li>
              </ul>
          </div>
          <!--/.nav-collapse -->
      </div>
  </nav>
