  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-dark" href="#">
                  <img src="/images/floripa/gophercon-floripa-v4.png" alt="GopherConBR">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right center-navbar">
                    <li class="active">
                      <a href="#top">
                        Home
                      </a>
                    </li>
                    <!-- <li>
                      <a href="#schedule">
                        {{ ( index $.Site.Data.translations $.Site.Params.locale ).schedule }}
                      </a>
                    </li> -->
                    <li>
                      <a href="/speakers" class="hidden-sm">
                        {{ ( index $.Site.Data.translations $.Site.Params.locale ).speakers }}
                      </a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="hidden-sm dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ ( index $.Site.Data.translations $.Site.Params.locale ).schedule }}
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <!-- <li>
                          <a href="#" class="hidden-sm">
                            {{ ( index $.Site.Data.translations $.Site.Params.locale ).conference }}
                          </a>
                        </li> -->
                        <li>
                          <a href="{{ if eq .Site.Params.locale "en-US" }}/en{{end}}/workshop" class="hidden-sm">
                            Workshop
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#venue" class="hidden-sm">
                        {{ ( index $.Site.Data.translations $.Site.Params.locale ).venue }}
                      </a>
                    </li>
                    <li>
                      <a href="#accommodation" class="hidden-sm">
                        {{ ( index $.Site.Data.translations $.Site.Params.locale ).accommodation }}
                      </a>
                    </li>
                    <li>
                      <a href="#sponsors" class="hidden-sm">
                        {{ ( index $.Site.Data.translations $.Site.Params.locale ).sponsors }}
                      </a>
                    </li>
                    <li>
                      <a href="https://www.sympla.com.br/gophercon-brasil-2016__77919{{ if eq .Site.Params.locale "en-US" }}?lang=en{{end}}">
                        {{ ( index $.Site.Data.translations $.Site.Params.locale ).registrations }}
                      </a>
                    </li>
                    <li>
                      <a href="/{{ if eq .Site.Params.locale "pt-BR" }}en{{end}}" class="hidden-sm">
                        {{ if eq .Site.Params.locale "pt-BR" }}ENGLISH{{end}}
                        {{ if eq .Site.Params.locale "en-US" }}PORTUGUES{{end}}
                      </a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
