 <section class="schedule" id="schedule">

        <div class="container">
            <div class="section-title wow fadeInUp">
                <h4>THE SCHEDULE</h4>
            </div>

            <div class="nav-center">
                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist" id="schedule-tabs">
                  <li role="presentation"><a href="#workshop" aria-controls="workshop" role="tab" data-toggle="tab">Workshop (26/09)</a></li>
                    <li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab">Day Two (27/09)</a></li>
                    <li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab">Day Three (28/09)</a></li>
                </ul>

            </div>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane" id="workshop">
                  <section class="timeline">

                      <div class="timeline-block">
                          <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                          <div class="timeline-content">
                              <h2 class="wow flipInX" data-wow-delay="0.3s">Inicio Workshops</h2>
                              <span class="date wow flipInX" data-wow-delay="0.3s">09:00 AM</span>
                          </div>
                      </div>

                      <div class="timeline-block">
                          <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                          <div class="timeline-content">
                              <h2 class="wow flipInX" data-wow-delay="0.3s">Coffee break</h2>
                              <span class="date wow flipInX" data-wow-delay="0.3s">10:30 AM</span>
                          </div>
                      </div>

                      <div class="timeline-block">
                          <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                          <div class="timeline-content">
                              <h2 class="wow flipInX" data-wow-delay="0.3s">Almoço</h2>
                              <span class="date wow flipInX" data-wow-delay="0.3s">12:00 AM</span>
                          </div>
                      </div>

                      <div class="timeline-block">
                          <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                          <div class="timeline-content">
                              <h2 class="wow flipInX" data-wow-delay="0.3s">Retorno Workshops</h2>
                              <span class="date wow flipInX" data-wow-delay="0.3s">14:00 AM</span>
                          </div>
                      </div>

                      <div class="timeline-block">
                          <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                          <div class="timeline-content">
                              <h2 class="wow flipInX" data-wow-delay="0.3s">Coffee break</h2>
                              <span class="date wow flipInX" data-wow-delay="0.3s">16:00 PM</span>
                          </div>
                      </div>

                      <div class="timeline-block">
                          <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                          <div class="timeline-content">
                              <h2 class="wow flipInX" data-wow-delay="0.3s">Encerramento</h2>
                              <span class="date wow flipInX" data-wow-delay="0.3s">18:00 PM</span>
                          </div>
                      </div>
                  </section>
              </div>
              <!-- ########### End Schedule Timeline  DAY 01  ########### -->
                <div role="tabpanel" class="tab-pane active" id="day1">
                    <section class="timeline">
                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Credenciamento</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">08:00 AM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Abertura</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">09:30 AM</span>
                            </div>
                        </div>

                    </section>
                </div>
                <!-- ########### End Schedule Timeline  DAY 01  ########### -->

                <div role="tabpanel" class="tab-pane" id="day2">
                    <section class="timeline">
                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Abertura</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">09:30 AM</span>
                            </div>
                        </div>

                    </section>
                </div>
                <!-- ########### End Schedule Timeline  DAY 02 ########### -->
            </div>

        </div>
        <!-- end .container -->

    </section>
