 <section class="schedule" id="schedule">

        <div class="container">
            <div class="section-title wow fadeInUp">
                <h4>THE SCHEDULE</h4>
            </div>

            <div class="nav-center">
                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist" id="schedule-tabs">
                    <li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab">Day One</a></li>
                    <li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab">Day Two</a></li>
                </ul>

            </div>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="day1">
                    <section class="timeline">
                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Abertura</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">09:00 AM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                            </div>
                            <!-- timeline-bullet -->

                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> A taxonomy of interfaces</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">Francesc</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">09:30 AM</span>
                            </div>
                            <!-- timeline-content -->
                        </div>
                        <!-- timeline-block -->

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                            </div>
                            <!-- timeline-bullet -->

                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Packages as Decoupled Services</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Carlisia Campos</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">10:05 AM</span>
                            </div>
                            <!-- timeline-content -->
                        </div>
                        <!-- timeline-block -->

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Desenvolvendo serviços Serverless em Go</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Pedro Nasser</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">10:40 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Coffee Break</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">11:10 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Goblin a minimal and opinionated testing framework</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Marcos Nils</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">11:30 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Como Go mudou a minha vida</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Jairo Luiz da Silva Pereira</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">12:05 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Lunch</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">12:35 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> tsuru - tornando deploys rápidos e divertidos</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Andrews Medina</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">14:30 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Desenvolvendo aplicações realtime com gRPC</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Leandro Lugaresi</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">15:05 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Building and shipping Go applications with Docker</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Marcos Nills</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">15:40 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> dnsdisco - Descoberta de Serviços via DNS</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Rafael Dantas Justo</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">16:00 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Coffee Break</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">16:15 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> The road to graphql-go 1.0</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Chris Ramón</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">16:35 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Building resilient services in Go</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Tiago Katcipis</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">17:10 PM</span>
                            </div>
                        </div>
                    </section>
                    <!-- timeline -->

                    <!-- ########### End Schedule Timeline  DAY 01  ########### -->

                </div>
                <div role="tabpanel" class="tab-pane" id="day2">

                    <!-- ########## Schedule Timeline  DAY 02 Starts ########### -->
                    <section class="timeline">
                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Abertura</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">09:00 AM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                            </div>
                            <!-- timeline-bullet -->

                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Maintaining a Large Scale Open Source Project</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">Jess Frazelle</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">09:30 AM</span>
                            </div>
                            <!-- timeline-content -->
                        </div>
                        <!-- timeline-block -->

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                            </div>
                            <!-- timeline-bullet -->

                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Abracadabra - Encontrando doenças raras com machine learning em Go</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Vitor De Mario
</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">10:05 AM</span>
                            </div>
                            <!-- timeline-content -->
                        </div>
                        <!-- timeline-block -->

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Go Scratch That Itch</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by John</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">10:40 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Coffee Break</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">11:10 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Testing in Go</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Ricardo Longa</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">11:30 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Designing a generic audio API</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Matt Aimonetti</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">12:05 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Lunch</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">12:35 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> TDB</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Pizarro</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">14:30 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Raft: Algoritmo de Consenso para todos</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Luiz Bezerra</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">15:05 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Desenvolvendo APIs usando middlewares</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Elton Minetto</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">15:40 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Aprendizados na criação de uma arquitetura de dados em Go</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Matheus/Kamila</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">16:00 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Coffee Break</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">16:15 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> TBD</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Thiago Avelino</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">16:35 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">
                            </div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s"> Nash: Lições aprendidas criando uma shell em Go</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">by Tiago Natel de Moura</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">17:10 PM</span>
                            </div>
                        </div>
                    </section>
                    <!-- timeline -->
                    <!-- ########### End Schedule Timeline  DAY 02 ########### -->

                </div>
                <!-- <div role="tabpanel" class="tab-pane" id="day3">..33333.</div> -->
            </div>

        </div>
        <!-- end .container -->

    </section>
