<section class="schedule" id="schedule">

    <div class="container">
        <div class="section-title wow fadeInUp">
            <h4>THE SCHEDULE</h4>
        </div>

        <div class="nav-center">
            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist" id="schedule-tabs">
                <li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab"
                        data-toggle="tab">Day One (30/09)</a></li>
                <li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab">Day Two
                        (01/10)</a></li>
            </ul>

        </div>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="day1">
                <section class="timeline">
                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Credenciamento</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">08:00 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Abertura</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">08:45 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">
                                A definir
                                <!--Advanced dependency management in Go using Fx&#x1F1FA;&#x1F1F8; -->
                            </h2>
                            <!-- <p class="wow flipInX" data-wow-delay="0.3s">Preslav Mihaylov (Uber)</p> -->
                            <span class="date wow flipInX" data-wow-delay="0.3s">09:15 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Coffee break</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">09:55 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Do Ruby ao GOLang - O que aprendi criando um
                                microserviço depois de 5000 commits</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">André Leoni (Enjoei.com)</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">10:25 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Generics - Um guia para o engenheiro ansioso
                            </h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Alex Rios</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">11:10 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Gandalf, uma proposta de um BFF genérico</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Alex Sandro Garzão (PicPay)</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">11:55 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Almoço</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">12:35 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Stop writing Mutexes</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Bernardo Vale (Kentik)</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">14:15</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Gerindo bilhões de dados com uma arquitetura
                                event stream em Go</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Matheus Vill (Neoway)</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">15:00</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Desmistificando as Vulnerabilidades em Golang
                            </h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Carol Valencia (Aqua Security)</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">15:45</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Coffee break</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">16:25</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Melhorando qualidade de código com Fuzzy Test
                                <Paste>
                            </h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Tiago Temporin (Unico)</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">16:55</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Construindo APIs REST com gRPC e Go<Paste>
                            </h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Alvaro Viebrantz (Golioth)</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">17:40</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">ksql: A Keep it Simple SQL Mapper<Paste>
                            </h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Vinícius Garcia</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">18:25</span>
                        </div>
                    </div>


                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Encerramento</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">18:45</span>
                        </div>
                    </div>
                </section>
            </div>
            <!-- ########### End Schedule Timeline  DAY 01  ########### -->

            <div role="tabpanel" class="tab-pane" id="day2">
                <section class="timeline">
                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Abertura</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">08:30 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">
                                A definir
                                <!-- Ent: Making Data Easy in Go &#x1F1FA;&#x1F1F8; -->
                            </h2>
                            <!-- <p class="wow flipInX" data-wow-delay="0.3s">Dmitry Vinnik (Facebook)</p> -->
                            <span class="date wow flipInX" data-wow-delay="0.3s">09:00 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Coffee break</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">09:40 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Event Sourcing: Da teoria à prática!</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Andreia Camila da Silva (Hash)</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">10:10 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Autenticação & Autorização de pessoas usuárias
                                @Trybe</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Matheus Mina (Trybe)</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">10:55 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Golang nos Correios!</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Rogério Maia de Queiroz Lessa (Correios)</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">11:40 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Almoço</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">12:20</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Sistemas de escala global em Go: Organização
                                de Arquitetura e Projetos que se transformam diariamente</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Nassor Paulino da Silva (Meroxa)</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">14:00</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Identificando pontos de melhorias com o Go
                                Profiling</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Rafael Holanda de Lima (Mercado Livre)</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">14:45</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">How do we built our treasury service with
                                Golang and Blockchain</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Caio Everest (CloudWalk)</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">15:30</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Coffee break</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">16:10</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Utilizando Golang para treinar Redes Neurais
                            </h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">Fernando Mendonça de Almeida</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">16:40</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Lightning talks
                            </h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">17:25</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s">Encerramento e Happy Hour</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">18:00</span>
                        </div>
                    </div>

                </section>
            </div>
            <!-- ########### End Schedule Timeline  DAY 02 ########### -->
        </div>

    </div>
    <!-- end .container -->

</section>