  <section class="speakers" id="speakers">
        <div class="container">

            <div class="section-title wow fadeInUp">
                <h4>
                  {{ ( index $.Site.Data.translations $.Site.Params.locale ).want_talk }}
                </h4>
                <p>
                    <a class="btn btn-success btn-xl" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).cfp_link }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).cfp_send }}</a>
                </p>
            </div>

            <!--<div class="speaker-slider">

                <div class="speaker-info wow fadeIn" data-wow-delay="0s">
                    <img src="images/avatar_1.png" alt="avatar" class="img-responsive center-block">
                    <p>George Burton</p>
                    <span>Flow Interactive</span>
                </div>

            </div>-->

        </div>
    </section>
