<section class="speakers" id="speakers">
  <div class="container">

    <!-- <div class="speakerSlider">
    <div class="speakerInfo">
    <img src="images/speakers/williamKennedy.jpg" alt="avatar" class="imgResponsive centerBlock">
    <p>William Kennedy</p>
    <span>Ardan Labs</span>
  </div>
</div> -->

<div class="row">
  <div class="section-title">
    <h4>
      {{ ( index $.Site.Data.translations $.Site.Params.locale ).speakers }}
    </h4>
  </div>

  <div class="col-sm-12 diamond-sponsors">
    <div class="col-sm-4 text-center">
      <div class="speaker-info">
        <img src="images/speakers/francesc-campoy-flores.jpg" alt="avatar" class="img-responsive center-block" width="190px">
        <p>Francesc Campoy Flores</p>
        <em>Developer Advocate for Go and the Cloud at Google</em>
      </div>
    </div>
    <div class="col-sm-4 text-center">
       <div class="speaker-info">
        <img src="images/speakers/william_kennedy.jpg" alt="avatar" class="img-responsive center-block">
        <p>William Kennedy</p>
        <em>Ardan Labs / Co-author of the book Go in Action, the author of the blog GoingGo.Net</em>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="speaker-info">
        <img src="images/speakers/jessfraz.jpg" alt="avatar" class="img-responsive center-block" width="190px">
        <p>Jess Frazelle</p>
        <em>The Keyser Söze of containers, ex-@docker maintainer, @maintainerati, https://contained.af, now at Google</em>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="section-title">
      <p>
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).want_talk }}
      </p>
      <p>
        <a class="btn btn-success btn-lg" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).cfp_link }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).cfp_send }}</a>
      </p>
    </div>
  </div>

</div>


</div>
</section>
