  <section class="speakers" id="speakers">
        <div class="container">

            <div class="section-title wow fadeInUp">
                <h4>Quer palestrar na Primeira GopherCon Brasil?</h4>
                <p>Em breve divulgaremos a chamada para palestrantes!</p>
            </div>

            <!--<div class="speaker-slider">

                <div class="speaker-info wow fadeIn" data-wow-delay="0s">
                    <img src="images/avatar_1.png" alt="avatar" class="img-responsive center-block">
                    <p>George Burton</p>
                    <span>Flow Interactive</span>
                </div>

            </div>-->

        </div>
    </section>