<section class="sponsors highlight" id="sponsors">
  <div class="container">
    <div class="section-title">
      <h4>
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).sponsors }}
      </h4>
      <p>
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).companies_sponsors }}
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12 diamond-sponsors">
        <h4 class="text-center sponsor-title">Diamond</h4>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://talentos.globo.com">
              <img alt="Globo.com" class="img-responsive center-block" style="max-height: 110px;" src="images/sponsors/globocom.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://www.neoway.com.br">
              <img alt="Neoway" class="img-responsive center-block" src="images/sponsors/neoway.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://www.hostgator.com.br">
              <img alt="HostGator" class="img-responsive center-block" src="images/sponsors/hostgator.svg">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 diamond-sponsors">
        <div class="col-md-6 col-sm-6 text-center">
          <div class="sponsor">
            <a href="https://cloud.google.com/">
              <img alt="Google Cloud" class="img-responsive center-block" src="images/sponsors/google.png">
            </a>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 text-center">
          <div class="sponsor">
            <a href="https://www.mercadolivre.com.br">
              <img alt="Mercado Livre" class="img-responsive center-block" src="images/sponsors/meli.png">
            </a>
          </div>
        </div>
        <!--end diamond sponsors -->
      </div>
    </div>

    <!--end diamond section-->
    <div class="row">
      <div class="col-sm-12 gold-sponsors">
        <h4 class="text-center sponsor-title">Gold</h4>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://cabify.com/">
              <img alt="Cabify" class="img-responsive center-block" src="images/sponsors/cabify.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://www.hurb.com/">
              <img alt="Hotel Urbano" class="img-responsive center-block" src="images/sponsors/hurb.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://resultadosdigitais.com.br/">
              <img alt="Resultados Digitais" class="img-responsive center-block" src="images/sponsors/rd.svg">
            </a>
          </div>
        </div>
        <!--end gold sponsors-->
      </div>
    </div>
    <!--end gold section-->
    <div class="row">
      <div class="col-sm-12 silver-sponsors">
        <h4 class="text-center sponsor-title">Silver</h4>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://pismo.io/">
              <img alt="Pismo.io" class="img-responsive center-block" src="images/sponsors/pismo.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://contaazul.com/">
              <img alt="Conta Azul" class="img-responsive center-block" src="images/sponsors/conta_azul.png">
            </a>
          </div>
        </div>
        <!--end silver sponsors-->
      </div>
    </div>
    <!--end silver section-->
    <div class="row">
      <div class="col-sm-12 supporters">
        <h5 class="text-center">{{ ( index $.Site.Data.translations $.Site.Params.locale ).support }}</h5>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a
              href="https://www.infoq.com/br/?utm_source=gophercon&utm_medium=logo-infoq&utm_campaign=parceria-eventos">
              <img alt="InfoQ" class="img-responsive center-block" src="images/sponsors/infoq.png">
            </a>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 text-center">
          <div class="sponsor">
          </div>
        </div>
        <!--end supporters -->
      </div>
    </div>
  </div>

  <!--end supporters section-->
  <div class="section-title">
    <p>
      {{ ( index $.Site.Data.translations $.Site.Params.locale ).prospec_sponsors }} <a
        href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).prospec_link }}"
        target="blank">{{ ( index $.Site.Data.translations $.Site.Params.locale ).get_in_touch }}</a>.
    </p>
  </div>
  </div>
  <!-- end .container -->
</section>
<!-- end section.sponsors -->