<section class="sponsors" id="sponsors">
  <div class="container">
    <div class="section-title">
      <h4>
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).sponsors }}
      </h4>
      <p>
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).companies_sponsors }}
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12 diamond-sponsors">
        <h4 class="text-center sponsor-title">Diamond</h4>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://vempraglobo.g.globo/#pt-BR/sites/CX_4001" target="_blank">
              <img alt="Globo" class="img-responsive center-block" style="max-height: 100px;"
                src="images/sponsors/globo_v2.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://hurb.gupy.io" target="_blank">
              <img alt="Hurb" class="img-responsive center-block" src="images/sponsors/hurb.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://www.neoway.com.br" target="_blank">
              <img alt="Neoway" class="img-responsive center-block" style="max-height: 100px;"
                src="images/sponsors/neoway_b3.png">
            </a>
          </div>
        </div>

        <!--        <div class="col-md-4 col-sm-4 text-center">-->
        <!--          <div class="sponsor">-->
        <!--            <a href="#">-->
        <!--              <img alt="Your Logo Here" class="img-responsive center-block" src="images/sponsors/logo-here.png">-->
        <!--            </a>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>
    <!--end diamond section-->

    <div class="row">
      <div class="col-sm-12 gold-sponsors">
        <h4 class="text-center sponsor-title">Gold</h4>

        <div class="col-md-3 col-sm-3 text-center">
          <div class="sponsor">
            <a href="https://www.stone.com.br" target="_blank">
              <img alt="Stone" class="img-responsive center-block" src="images/sponsors/stone.png">
            </a>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 text-center">
          <div class="sponsor">
            <a href="https://www.fullcycle.com.br" target="_blank">
              <img alt="FullCycle" class="img-responsive center-block" src="images/sponsors/fullcycle.jpeg">
            </a>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 text-center">
          <div class="sponsor">
            <a href="https://www.cloudwalk.io/" target="_blank">
              <img alt="Cloudwalk" class="img-responsive center-block" src="images/sponsors/cloudwalk.png">
            </a>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 text-center">
          <div class="sponsor">
            <a href="https://avenue.us/" target="_blank">
              <img alt="Avenue" class="img-responsive center-block" src="images/sponsors/avenue.png">
            </a>
          </div>
        </div>
        <!--end gold sponsors-->
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 gold-sponsors">
        <div class="col-md-3 col-sm-3 text-center">
          <div class="sponsor">
            <a href="https://x-team.com" target="_blank">
              <img alt="X-Team" class="img-responsive center-block" src="images/sponsors/xteam.svg">
            </a>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 text-center">
          <div class="sponsor">
            <a href="https://truepay.com.br/" target="_blank">
              <img alt="TruePay" class="img-responsive center-block" src="images/sponsors/truepay.png">
            </a>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 text-center">
          <div class="sponsor">
            <a href="https://www.bexs.com.br/" target="_blank">
              <img alt="Bexs" class="img-responsive center-block" src="images/sponsors/bexs.png">
            </a>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 text-center">
          <div class="sponsor">
            <a href="https://www.mercadolivre.com.br/" target="_blank">
              <img alt="Bexs" class="img-responsive center-block" src="images/sponsors/meli_2.png">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 gold-sponsors">
          <div class="col-md-3 col-sm-3 text-center">
            <div class="sponsor">
              <a href="https://isaac.com.br/" target="_blank">
                <img alt="Isaac" class="img-responsive center-block" src="images/sponsors/isaac.jpeg">
              </a>
            </div>
          </div>

<!--          <div class="col-md-3 col-sm-3 text-center">-->
<!--            <div class="sponsor">-->
<!--              <a href="https://truepay.com.br/" target="_blank">-->
<!--                <img alt="TruePay" class="img-responsive center-block" src="images/sponsors/truepay.png">-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-md-3 col-sm-3 text-center">-->
<!--            <div class="sponsor">-->
<!--              <a href="https://www.bexs.com.br/" target="_blank">-->
<!--                <img alt="Bexs" class="img-responsive center-block" src="images/sponsors/bexs.png">-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-md-3 col-sm-3 text-center">-->
<!--            <div class="sponsor">-->
<!--              <a href="https://www.mercadolivre.com.br/" target="_blank">-->
<!--                <img alt="Bexs" class="img-responsive center-block" src="images/sponsors/meli_2.png">-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
        </div>
    </div>
    <!--end gold section-->

    <div class="row">
      <div class="col-sm-12 silver-sponsors">
        <h4 class="text-center sponsor-title">Silver</h4>

        <div class="col-md-12 col-sm-12 text-center">
          <div class="sponsor">
            <a href="#">
              <img alt="Klever" class="img-responsive center-block" src="images/sponsors/klever.png">
            </a>
          </div>
        </div>
        <!--end silver sponsors-->
      </div>
    </div>
    <!--end silver section-->

    <!--    <div class="row">-->
    <!--      <div class="col-sm-12 supporters">-->
    <!--        <h4 class="text-center sponsor-title">{{ ( index $.Site.Data.translations $.Site.Params.locale ).support }}</h4>-->

    <!--        <div class="col-md-4 col-sm-4 text-center">-->
    <!--          <div class="sponsor">-->
    <!--          </div>-->
    <!--        </div>-->

    <!--        <div class="col-md-4 col-sm-4 text-center">-->
    <!--          <div class="sponsor">-->
    <!--            <a-->
    <!--              href="https://www.infoq.com/br/?utm_source=gophercon&utm_medium=logo-infoq&utm_campaign=parceria-eventos">-->
    <!--              <img alt="InfoQ" class="img-responsive center-block" src="images/sponsors/infoq.png">-->
    <!--            </a>-->
    <!--          </div>-->
    <!--        </div>-->

    <!--        <div class="col-md-4 col-sm-4 text-center">-->
    <!--          <div class="sponsor">-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        &lt;!&ndash;end supporters &ndash;&gt;-->
    <!--      </div>-->
    <!--    </div>-->
  </div>

  <!--end supporters section-->
  <div class="section-title">
    <p>
      {{ ( index $.Site.Data.translations $.Site.Params.locale ).prospec_sponsors }} <a
        href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).prospec_link }}" target="blank">{{ ( index
        $.Site.Data.translations $.Site.Params.locale ).get_in_touch }}</a>.
    </p>
  </div>
  </div>
  <!-- end .container -->
</section>
<!-- end section.sponsors -->