<section class="sponsors" id="sponsors">
  <div class="container">
    <div class="section-title">
      <h4>
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).sponsors }}
      </h4>
      <p>
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).companies_sponsors }}
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12 diamond-sponsors">
        <h4 class="text-center sponsor-title">Diamond</h4>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://www.vempraglobo.com.br" target="_blank">
              <img alt="Globo.com" class="img-responsive center-block" style="max-height: 100px;" src="images/sponsors/globocom.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://hurb.gupy.io" target="_blank">
              <img alt="Hurb" class="img-responsive center-block" src="images/sponsors/hurb.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://www.neoway.com.br" target="_blank">
              <img alt="Neoway" class="img-responsive center-block" style="max-height: 100px;" src="images/sponsors/neoway.png">
            </a>
          </div>
        </div>

<!--        <div class="col-md-4 col-sm-4 text-center">-->
<!--          <div class="sponsor">-->
<!--            <a href="#">-->
<!--              <img alt="Your Logo Here" class="img-responsive center-block" src="images/sponsors/logo-here.png">-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>


    <!--end diamond section-->
    <div class="row">
      <div class="col-sm-12 gold-sponsors">
        <h4 class="text-center sponsor-title">Gold</h4>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://stone.com.br">
              <img alt="Stone" class="img-responsive center-block" src="images/sponsors/stone.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="#">
              <img alt="Your Logo Here" class="img-responsive center-block" src="images/sponsors/logo-here.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="#">
              <img alt="Your Logo Here" class="img-responsive center-block" src="images/sponsors/logo-here.png">
            </a>
          </div>
        </div>
        <!--end gold sponsors-->
      </div>
    </div>
    <!--end gold section-->
    <div class="row">
      <div class="col-sm-12 silver-sponsors">
        <h4 class="text-center sponsor-title">Silver</h4>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="#">
              <img alt="Your Logo Here" class="img-responsive center-block" src="images/sponsors/logo-here.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="#">
              <img alt="Your Logo Here" class="img-responsive center-block" src="images/sponsors/logo-here.png">
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="#">
              <img alt="Your Logo Here" class="img-responsive center-block" src="images/sponsors/logo-here.png">
            </a>
          </div>
        </div>
        <!--end silver sponsors-->
      </div>
    </div>
    <!--end silver section-->
    <div class="row">
      <div class="col-sm-12 supporters">
        <h4 class="text-center sponsor-title">{{ ( index $.Site.Data.translations $.Site.Params.locale ).support }}</h4>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a
              href="https://www.infoq.com/br/?utm_source=gophercon&utm_medium=logo-infoq&utm_campaign=parceria-eventos">
              <img alt="InfoQ" class="img-responsive center-block" src="images/sponsors/infoq.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
          </div>
        </div>
        <!--end supporters -->
      </div>
    </div>
  </div>

  <!--end supporters section-->
  <div class="section-title">
    <p>
      {{ ( index $.Site.Data.translations $.Site.Params.locale ).prospec_sponsors }} <a
        href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).prospec_link }}"
        target="blank">{{ ( index $.Site.Data.translations $.Site.Params.locale ).get_in_touch }}</a>.
    </p>
  </div>
  </div>
  <!-- end .container -->
</section>
<!-- end section.sponsors -->
