<section class="highlight" id="venue">

    <div class="container">
        <div class="section-title">
            <h4>
                {{ ( index $.Site.Data.translations $.Site.Params.locale ).venue}}
            </h4>
        </div>
        <div class="highlight">
            <div class="container">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="contact-box">
                            <p>
                                <br><a
                                    href="https://www.google.com/maps/place/Hard+Rock+Live+Florian%C3%B3polis/@-27.5968203,-48.6821047,17z/data=!3m1!4b1!4m5!3m4!1s0x95274bd0207a058b:0xebe919c3dfa2eea6!8m2!3d-27.5968251!4d-48.67762"
                                    target="_blank">
                                    <font size="+3">Arena Opus (antigo Hard Rock Live)</font>
                                </a>
                                <br>SC-281, 4000 - Grande Florianópolis
                                <br>São José, SC
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 right-images">
                                <img src="images/hotel/arena_petry_externo.webp" alt="Arena Opus (antigo Hard Rock Live)"
                                    class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <!--  // end .row -->
                </div>
            </div>
        </div>
</section>
