<section class="highlight" id="venue">

  <div class="container">
    <div class="section-title">
      <h4>
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).venue}}
      </h4>
    </div>
    <div class="highlight">
      <div class="container">

        <div class="row">
          <div class="col-sm-6">
            <div class="contact-box">
              <p><strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).conference }}</strong>
                <br>Hotel Canasvieiras Internacional
                <br>Rua Madre Maria Vilac, 2020
                <br>Florianópolis, SC
              </p>
            </div>
            <div class="contact-box">
              <p><strong>Workshop</strong>
                <br>Resultados Digitais
                <br>Rod. Virgílio Várzea, s/n
                <br>Florianópolis, SC
              </p>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 left-images">
                <img src="images/hotel/hotel.jpg" alt="frente hotel" class="img-responsive">
              </div>

              <div class="col-sm-6 right-images">
                <img src="images/hotel/salamaior.jpg" alt="salao hotel" class="img-responsive">
              </div>

            </div>
            <div class="row">
              <div class="col-sm-6 left-images">
                <img src="images/hotel/salamaior2.jpg" alt="salao hotel" class="img-responsive">
              </div>
              <div class="col-sm-6 right-images">
                <img src="images/hotel/restaurante2.jpg" alt="restaurante hotel" class="img-responsive">
              </div>
            </div>
          </div>
          <!--  // end .row -->
        </div>
      </div>
    </div>
  </section>
