<section class="highlight" id="venue">

    <div class="container">
        <div class="section-title">
            <h4>
                {{ ( index $.Site.Data.translations $.Site.Params.locale ).venue}}
            </h4>
        </div>
        <div class="highlight">
            <div class="container">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="contact-box">
                            <p>
                                <br><a href="https://maps.app.goo.gl/vSybkj9YYoaEPFXg8" target="_blank">
                                    <font size="+3">CentroSul</font>
                                </a>
                                <br>Av. Gov. Gustavo Richard, 850 - Centro,
                                <br>Florianópolis - SC, 88010-290
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 right-images">
                                <img src="images/centrosul.jpg" alt="CentroSul" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <!--  // end .row -->
                </div>
            </div>
        </div>
</section>