{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ $baseurl := .Site.BaseUrl }}
SPONSORS
<main class="container generic">
    <section class="row"> 
    	<div class="sponsors col-md-8">

			{{ if eq "diamond"  .Params.sponsorclass}}
        	<!---------- Diamond Sponsors ---------->
            <div class="col-md-12 diamond">
            	<img class="icon" src="/images/diamond.png" />
                <h3>Diamond Sponsors</h4>
				<a href="{{.Params.site}}"><img src="{{.Params.logo}}" /></a>
				<p>{{ .Content }}</p>
                <div class="clearfix"></div>
            </div><!-- Diamond Sponsors End -->
			{{ end }} 
			{{ if eq "platinum"  .Params.sponsorclass}}
			<!---------- Platinum Sponsors  -->
            <div class="col-md-12 platinum">
            	<img class="icon" src="/images/platinum.png" />
                <h4>Platinum Sponsors</h4>
				<a href="{{.Params.site}}"><img src="{{.Params.logo}}"/></a>
				<p>{{ .Content }}</p>
                <div class="clearfix"></div>
            </div>
			{{ end }} 
           {{ if eq "gold"  .Params.sponsorclass}}
            <div class="col-md-12 gold">
                <img class="icon" src="/images/gold.png" />
                <h3>Gold Sponsors</h3>
				<a href="{{.Params.site}}"><img src="{{.Params.logo}}"/></a>
				<p>{{ .Content }}</p>
                <div class="clearfix"></div>
            </div>
			{{ end }} 
     		{{ if eq "silver"  .Params.sponsorclass}} 			
            <div class="col-md-12 silver">
                <img class="icon" src="/images/silver.png" />
                <h3>Silver Sponsors</h3>
				<a href="{{.Params.site}}"><img src="{{.Params.logo}}"/></a>
				<p>{{ .Content }}</p>
                <div class="clearfix"></div>
            </div>
			{{ end }} 
            {{ if eq "bronze"  .Params.sponsorclass}} 	
            <div class="col-md-12 bronze">
                <img class="icon" src="/images/bronze.png" />
                <h3>Bronze Sponsors</h3>
				<a href="{{.Params.site}}"><img src="{{.Params.logo}}"/></a>
				<p>{{ .Content }}</p>
                <div class="clearfix"></div>
			</div>
			{{ end }}
            {{ if eq "additional"  .Params.sponsorclass}} 	
            <div class="col-md-12 bronze">
                <img class="icon" src="/images/sponsor.png" />
                <h3>Additional Sponsors</h3>
				<a href="{{.Params.site}}"><img src="{{.Params.logo}}"/></a>
				<p>{{ .Content }}</p>
                <div class="clearfix"></div>
			</div>
			{{ end }}
        </div><!-- sponsors col-md-10 -->
        
    </section>
</main>

<main>
  {{ partial "sponsors.html" . }}
</main>
{{ partial "footer.html" . }}
