    <div class="footer-container">
      <footer class="short footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-7">
              <span class="text-white">© Copyleft 2016 GopherConBR sobre a licença Creative Commons..<br>
              </span>
              <p class="small character-copyright">The Gopher character is based on the Go mascot designed by
                <a href="http://reneefrench.blogspot.com/" target="blank">Renee French</a> and copyrighted under the
                <a href="http://creativecommons.org/licenses/by/3.0/us/" target="blank">Creative Commons Attribution 3.0 license.</a>
                <a href="http://santosleandro.com" target="blank">Imagens Aéreas feitas por Leandro Santos</a>
              </p>
            </div>

            <div class="col-sm-5 text-right">
              <ul class="menu">
                <li><a href="#about">Sobre</a></li>
                <li><a href="https://golang.org/conduct">Código de Conduta</a></li>
                <!--<li><a href="mailto:gophercon@gopheracademy.com">Contato</a></li>-->
                <li><a class="inner-link back-to-top" href="#top">Topo&nbsp;<i class="icon pe-7s-angle-up-circle"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/2016/js/bootstrap.min.js"></script>
    <script src="/2016/js/skrollr.min.js"></script>
    <script src="/2016/js/lightbox.min.js"></script>
    <script src="/2016/js/smooth-scroll.min.js"></script>
    <script src="/2016/js/scripts.js"></script>
    <!--<script>
      Google Analytics
    </script>-->
  </body>
</html>