<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GopherConBR 2016</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/2016/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/2016/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/2016/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/2016/css/pe-icon-7-stroke.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/2016/css/theme-gophercon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/2016/font/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/2016/css/main.css" rel="stylesheet" type="text/css" media="all" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  </head>