
/*  Parallax related styles */

.overflow-hidden {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.glowbox {
  -moz-box-shadow: 0 0 3px 5px #000;
  -webkit-box-shadow: 0 0 3px 5px #000;
  box-shadow: 0 0 3px 5px #000;
}

.innerglowbox {
  box-shadow: inset 0 0 5px #000000;
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
}

.bgblack {
  background-color: #000;
  color: #fff;
}

.content-img {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.content-img:hover { opacity: 0.65; }

/*  UI CONTROLS */

#sensitivityX,
#sensitivityY,
#easingCoefficient,
#focusZ { width: 300px; }

/*  Style for preview pages */

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
li,
p,
input,
select,
legend,
textarea {
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  font-family: Arial, Helevtica, Verdana, san-serif;
  line-height: 23px;
  position: relative;
  color: #666;
}

h1,
h2,
h3,
h4,
span {
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: normal;
  margin-bottom: 0px;
  font-weight: 300 !important;
}

h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

h4 { font-size: 18px; }

h5 { font-size: 14px; }

a {
  color: #777;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #444;
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.wrapper_fullwidth {
  width: 100%;
  position: relative;
  z-index: 1;
  background: #000;
  height: 40px;
  clear: both;
  font-size: 10px;
  color: #999;
}

.wrapper_fullwidth a {
  text-decoration: none;
  display: block;
  float: left;
  line-height: 40px;
}

.wrapper_fullwidth a:hover { color: #bbb; }

.right { float: right; }

.right a { text-decoration: underline; }

.right a:hover { text-decoration: none; }

.center {
  position: relative;
  margin: 0 auto 20px auto;
  width: 640px;
  padding-top: 40px;
  padding-bottom: 0px;
  text-align: center
}

.text-center { text-align: center }

.row {
  position: relative;
  margin: 20px auto 20px auto;
  width: 840px;
}

.row a img { border: none; }

.row a:hover img { opacity: 0.7; }

/* Nicolas Gallagher's micro clearfix */

.row:before,
.row:after,
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.row:after,
.clearfix:after { clear: both; }

.row,
.clearfix { zoom: 1; }

.column {
  position: relative;
  float: left;
  margin: 15px 13px 45px 13px;
}

.content {
  position: relative;
  float: left;
  width: 260px;
  overflow: hidden;
  color: #666;
  padding-left: 30px;
}

.content ul { padding-bottom: 30px; }

.content ul li { list-style-position: inside; }

.block {
  position: relative;
  width: 350px;
  float: left;
  overflow: hidden;
}

.block-center {
  position: relative;
  margin: 0 auto 0px auto;
  width: 350px;
}

.block a { text-decoration: none; }

.example {
  background-color: #959595;
  height: 60px;
  width: 60px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
}

.example h5 {
  color: #fff;
  padding-top: 20px;
  font-size: 16px;
}

.example:hover,
.active {
  background-color: #474747;
  cursor: pointer;
}

.thumb_img {
  float: left;
  margin: 0px 20px 0px 0px;
}

.description {
  display: block;
  overflow: hidden;
  padding: 0px 0px 20px 0px;
}

.info {
  display: block;
  padding: 0px 0px 10px 15px;
}

.sliders {
  display: block;
  padding: 0px 0px 0px 0px;
}

.white {
  color: #fff;
  font-size: 10px;
}

.hand { cursor: pointer; }

.controls ul { list-style-type: none; }

.controls a { text-decoration: underline; }

table td { padding: 0px 10px 10px 10px; }

#features {
  position: relative;
  margin: 0 auto 0px auto;
  width: 400px;
}

#features ul li { list-style-position: inside; }

#main {
  float: right;
  width: 350px;
  padding-top: 40px;
  padding-bottom: 10px;
}

#bottom {
  font-size: 11px;
  color: #aaa;
}

#bottom a {
  float: none;
  display: inline;
}

.button {
  display: block;
  width: 30px;
  height: 29px;
  text-indent: -9999px;
  left: 0px;
  outline: none;
  float: left;
}

#play { background-image: url(../img/play.png); }

#play:hover { background: transparent url(../img/play_hover.png) bottom left no-repeat; }

#stop { background-image: url(../img/stop.png); }

#stop:hover { background: transparent url(../img/stop_hover.png) bottom left no-repeat; }

#pause { background-image: url(../img/pause.png); }

#pause:hover { background: transparent url(../img/pause_hover.png) bottom left no-repeat; }

#pause3s {
  width: 90px;
  background-image: url(../img/pause3s.png);
}

#pause3s:hover { background: transparent url(../img/pause3s_hover.png) bottom left no-repeat; }
