gopherconbr.org:443 {
	redir https://2016.gopherconbr.org{uri} 
}

2016.gopherconbr.org:443 {

	git {
		repo https://github.com/gopherconbr/gopherconbr.org
		branch master
		hook /webhook
		path gopherconbr
		then hugo -t gopherconbr --destination=/site-source/gopherconbr/public
	}

	root /site-source/gopherconbr/public

	gzip
	ext .html
	log stdout
}
