  {{ partial "header.html" . }}
    <body>
    	<a id="top"></a>
      <div class="nav-container">
				<nav class="overlay-nav">

					<div class="container">
						<div class="row">
							<!--<div class="col-md-2">
								<img alt="Logo" class="logo logo-dark" src="2016/img/gophercon-floripa-v2.png">
							</div>-->
					
							<div class="col-md-10 text-right">
                  <!--<ul class="menu">
                    <li class="has-dropdown">
                      <a href="#">Sobre</a>
                      <ul class="nav-dropdown">
                        <li><a href="/location">Localização</a></li>
                        <li><a class="inner-link" href="/code-of-conduct">Código de Conduta</a></li>
                      </ul>
                    </li>
                    <!--<li>
                      <a class="inner-link" href="https://ti.to/gophercon/gophercon-2016">Tickets</a>
                    </li>-->
                    <!--<li>
                      <a href="#">Events</a>
                    </li>
                    <li>
                      <a href="#">Agenda</a>
                    </li>
                    <li>
                      <a href="#">Patrocinadores</a>
                    </li>
                  </ul>-->
								<div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>
							</div>
						</div>
					</div>
				</nav>
      </div>
      <div class="main-container">
        <section class="hero-slider">
          <ul class="slides">
            <li class="video-header">
              <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="2016/img/floripa/floripa1.jpg">
              </div>
                     
              <div class="video-wrapper">
                <video autoplay="" muted="" loop="">
                  <source src="2016/video/floripa.webm" type="video/webm">
                </video>
              </div>
              
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <img alt="logo" class="logo" src="2016/img/gophercon-floripa-v2.png">
									  <span class="uppercase text-white">11 a 13 de Novembro<br>Florianópolis, SC</span>
                    <h1 class="large-h1 text-white">O Maior evento do mundo dedicado a linguagem de programação Go, agora no Brasil.</h1>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </section>
        
        <!--<section class="color-blocks">
          <div class="color-block block-left col-md-6 col-sm-12"></div>
          <div class="color-block block-right col-md-6 col-sm-12"></div>
          
          <div class="container">
            <div class="row">
              <a href="https://ti.to/gophercon/gophercon-2016" class="block-content">
                <div class="col-md-2 col-sm-4 text-center">
                  <i>
                    <img class="icon" src="2016/img/icons/Starred Ticket-70.png" width="65" style="margin-top: -12px">
                  </i>
                </div>
              
                <div class="col-md-4 col-sm-8">
                  <h1>Watch Live!</h1>
                  <p>
                    Stream the event live starting at 8:50 MDT July 11th at <a href="http://twitch.tv/gophercon">twitch.tv/gophercon</a>
                  </p>
                </div>
              </a>
              
              <a href="/Gophercon2016Prospectus.pdf" class="block-content">
                <div class="col-md-2 col-sm-4 text-center">
                  <i>
                    <img class="icon" src="2016/img/icons/Handshake-70.png" width="60" style="margin-top: -12px">
                  </i>
                </div>
              
                <div class="col-md-4 col-sm-8">
                  <h1>Interested in Sponsoring?</h1>
                  <p>Ensure that 2016 is the best to date and become a sponsor.</p>
                </div>
              </a>
            </div>
          </div>
        </section>-->
          {{ partial "sponsors.html" . }}

      </div>
  {{ partial "footer.html" . }}
