{{ partial "header.html" . }}

<section class="row"> 
  <main class="container generic">
		<div class="col-md-8">
			<h2>GopherCon News</h2>
			{{ range .Paginator.Pages }}
		
				<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
				<small>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</small><br/><br/>
				{{ .Summary }}
				{{ if .Truncated }} <br/><br/>
        <a class="readmore" href="{{ .RelPermalink }}">Read More <i class="fa fa-arrow-circle-right"></i></a>
				{{ end }}
			{{ end }}

			{{ template "_internal/pagination.html" . }}
		</div>
        {{ partial "sidebar.html" . }}
  </main>
</section>

<main>
  {{ partial "sponsors.html" . }}
</main>
{{ partial "footer.html" . }}
