

{{ partial "header.html" . }}
      {{ partial "navbar.html" . }}
      <div class="main-container">
        <section class="color-blocks">
          <div class="color-block block-left col-md-6 col-sm-12"></div>
          <div class="color-block block-right col-md-6 col-sm-12"></div>
          
          <div class="container">
            <div class="row">
              <a href="https://ti.to/gophercon/gophercon-2016" class="block-content">
                <div class="col-md-2 col-sm-4 text-center">
                  <i>
                    <img class="icon" src="/2016/img/icons/Starred Ticket-70.png" width="65" style="margin-top: -12px">
                  </i>
                </div>
              
                <div class="col-md-4 col-sm-8">
                  <h1>Need Tickets?</h1>
                  <p>
                    Get your tickets early and guarantee your entrance to the largest Go conference in the world.
                  </p>
                </div>
              </a>
              
              <a href="/Gophercon2016Prospectus.pdf" class="block-content">
                <div class="col-md-2 col-sm-4 text-center">
                  <i>
                    <img class="icon" src="/2016/img/icons/Handshake-70.png" width="60" style="margin-top: -12px">
                  </i>
                </div>
              
                <div class="col-md-4 col-sm-8">
                  <h1>Interested in Sponsoring?</h1>
                  <p>Ensure that 2016 is the best to date and become a sponsor.</p>
                </div>
              </a>
            </div>
          </div>
        </section>
        <section id="schedule" class="content schedule">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h1>Schedule</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
	        <h2 href="#workshop-schedule">July&nbsp;10th</h2>
                  {{ partial "schedule/10july.html" . }}
	      </div>
              <div class="col-md-10 col-md-offset-1 text-center">
		<h2 href="#day1-schedule">July&nbsp;11th</h2>
                  {{ partial "schedule/11july.html" . }}
	      </div>
              <div class="col-md-10 col-md-offset-1 text-center">
	        <h2 href="#day2-schedule">July&nbsp;12th</h2>
                  {{ partial "schedule/12july.html" . }}
 	      </div>
              <div class="col-md-10 col-md-offset-1 text-center">
		<h2 href="#hackday-schedule">July&nbsp;13th</h2>
                  {{ partial "schedule/13july.html" . }}
	        </div>
              </div>
	    </div>
	  </div>
        </section>

  {{ partial "sponsors.html" . }}
{{ partial "footer.html" . }}
