{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<section class="row"> 
  <main class="container generic">
    <div class="col-md-9 main">
      <div class="row">
        <h2>Diamond Sponsors</h2>
        {{ range .Data.Pages }}
          {{ if eq "diamond"  .Params.sponsorclass}} 	
            <div class="col-md-4 diamond">
              <a href="{{ .Permalink}}"><img src="{{ .Params.logo }}" /></a>
            </div>
          {{ end }}
        {{ end }}
      </div>
      <hr>
      <div class="row">
        <h2>Platinum Sponsors</h2>
        {{ range .Data.Pages }}
          {{ if eq "platinum"  .Params.sponsorclass}} 	
            <div class="col-md-4 platinum">
              <a href="{{ .Permalink}}"><img src="{{ .Params.logo }}" /></a>
            </div>
          {{ end }}
        {{ end }}
      </div>
      <hr>
      <div class="row">
        <h2>Gold Sponsors</h2>
        {{ range .Data.Pages }}
          {{ if eq "gold"  .Params.sponsorclass}} 	
            <div class="col-md-4 gold">
              <a href="{{ .Permalink}}"><img src="{{ .Params.logo }}" /></a>
            </div>
          {{ end }}
        {{ end }}
      </div>
      <hr>
      <div class="row">
        <h2>Silver Sponsors</h2>
        {{ range .Data.Pages }}
          {{ if eq "silver"  .Params.sponsorclass}} 	
            <div class="col-md-4 silver">
              <a href="{{ .Permalink}}"><img src="{{ .Params.logo }}" /></a>
            </div>
          {{ end }}
        {{ end }}
      </div>
      <hr>
      <div class="row">
        <h2>Bronze Sponsors</h2>
        {{ range .Data.Pages }}
          {{ if eq "bronze"  .Params.sponsorclass}} 	
            <div class="col-md-4 bronze">
              <a href="{{ .Permalink}}"><img src="{{ .Params.logo }}" /></a>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
    {{ partial "sidebar.html" . }}
  </main>
</section>


{{ partial "footer.html" . }}
