                {{ $sessions := where (where .Site.Pages "Section" "sessions") "Params.sessionscheduled" "July 11th" }}
                <div id="day1-schedule" class="tab-pane schedule-tab tab-pane-subtabs">
                  <ul class="nav nav-tabs">
                    <li role="presentation">
                      <a data-toggle="tab" href="#general-schedule-11july">General</a>
                    </li>
                    <li role="presentation" class="active">
                      <a data-toggle="tab" href="#main-theater-11july">Main Theatre</a>
                    </li>
                    <li role="presentation">
                      <a data-toggle="tab" href="#tutorial-1-11july">Room: 501-504</a>
                    </li>
                    <li role="presentation">
                      <a data-toggle="tab" href="#tutorial-2-11july">Room: 505-507</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div id="general-schedule-11july" class="schedule-tab schedule-item-tab tab-pane">
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">6:45am - 6:00pm</span>
                          <span class="location">Grand Concourse</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Conference Registration</span>
                          </div>
                        </div>
                      </div>
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">5:20pm - 6:15pm</span>
                          <span class="location">Dining Den</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Exhibitors' Happy Hour</span>
                          </div>
                        </div>
                      </div>
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">8:00pm - 11:00pm</span>
                          <span class="location">Punch Bowl Social</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">GopherCon 2016 Party</span>
                          </div>
                          <div class="abstract">
                            <p>The Official GopherCon After Party hosted by our Diamond Sponsor</p>
                            <p>Details are available here: <a href="/events/afterparty">GopherCon After Party</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="main-theater-11july" class="schedule-tab schedule-item-tab active tab-pane ">
                      {{ partial "schedule/intermission.html" (dict "purpose" "Welcome Gophers!" "sessiontime" "8:50am - 9:00am" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "fcampoyflores" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}
                      {{ range $sessions }}
                        {{ if eq .Params.speaker "adonovan" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "dwhitenack" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Break" "sessiontime" "10:40am - 11:20am" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "dfc" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "womuya" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}
                      {{ range $sessions }}
                        {{ if eq .Params.speaker "idaniluk" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Lunch" "sessiontime" "1:00pm - 2:30pm" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "acockcroft" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Speakers’ Q & A Panel" "sessiontime" "3:30pm - 4:20pm" )}}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Lightning Talks" "sessiontime" "4:30pm - 6:00pm" )}}

                    </div>
                    <div id="tutorial-1-11july" class="schedule-tab schedule-item-tab tab-pane">
                      {{ range $sessions }}
                        {{ if eq .Params.speaker "mmatloob" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "cvanslyck" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "rsimon" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                    </div>
                    <div id="tutorial-2-11july" class="schedule-tab schedule-item-tab tab-pane">
                      {{ range $sessions }}
                        {{ if eq .Params.speaker "gtankersley" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "mvanlohuizen" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "tueda" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                    </div>
                  </div>
                </div>
