
                {{ $sessions := where (where .Site.Pages "Section" "sessions") "Params.sessionscheduled" "July 12th" }}
                <div id="day2-schedule" class="tab-pane schedule-tab tab-pane-subtabs">
                  <ul class="nav nav-tabs">
                    <li role="presentation">
                      <a data-toggle="tab" href="#general-schedule-12july">General</a>
                    </li>
                    <li role="presentation" class="active">
                      <a data-toggle="tab" href="#main-theater-12july">Main Theatre</a>
                    </li>
                    <li role="presentation">
                      <a data-toggle="tab" href="#tutorial-1-12july">Room: 501-504</a>
                    </li>
                    <li role="presentation">
                      <a data-toggle="tab" href="#tutorial-2-12july">Room: 505-507</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div id="general-schedule-12july" class="schedule-tab schedule-item-tab tab-pane">
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">6:45am - 6:00pm</span>
                          <span class="location">Grand Concourse</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">Conference Registration</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="main-theater-12july" class="schedule-tab schedule-item-tab active tab-pane ">
                      {{ partial "schedule/intermission.html" (dict "purpose" "Welcome Back & Raffle Drawing" "sessiontime" "8:50am - 9:00am" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "kowen" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}
                      {{ range $sessions }}
                        {{ if eq .Params.speaker "krandall" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "bschaefer" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Break" "sessiontime" "10:40am - 11:20am" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "rpike" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "jcarlosnieto" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "rfrench" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Lunch" "sessiontime" "1:00pm - 2:30pm" )}}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "dberkholz" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Speakers’ Q & A Panel" "sessiontime" "3:30pm - 4:20pm" )}}

                      {{ partial "schedule/intermission.html" (dict "purpose" "Lightning Talks" "sessiontime" "4:30pm - 6:00pm" )}}

                    </div>
                    <div id="tutorial-1-12july" class="schedule-tab schedule-item-tab tab-pane">
                      {{ range $sessions }}
                        {{ if eq .Params.speaker "khightower" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "bofarrell" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "jlindamood" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}
                    </div>
                    <div id="tutorial-2-12july" class="schedule-tab schedule-item-tab tab-pane">
                      {{ range $sessions }}
                        {{ if eq .Params.speaker "fvalsorda" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "egu" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}

                      {{ range $sessions }}
                        {{ if eq .Params.speaker "jleon" }}
                          {{ partial "schedule/session.html" (dict "session" . ) }}
                        {{ end }}
                      {{ end }}
                    </div>
                  </div>
                </div>
