                <div id="day3-schedule" class="tab-pane schedule-tab tab-pane-subtabs">
	           <ul class="nav nav-tabs">
	              <li role="presentation">
	                 <a data-toggle="tab" href="#general-schedule-12july">General</a>
	             </li>
	           </ul>
		</div>
                <div id="hackday-schedule" class="tab-pane schedule-tab schedule-item-tab">
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Mile High Ballroom</span>
                    </div>
                    <div class="col-md-9 schedule-item-details">
                      <div class="schedule-item-summary">
                        <span class="title">Hack Day</span>
                      </div>
                      <div class="abstract">
                        <p>Join all your friends in a day of loosly organized collaboration, lightning talks, and general hackery.  We'll provide the space and the wifi, you bring your favorite project and work together with friends you only get to see in person every year at GopherCon.</p>
                      </div>
                    </div>
                  </div>
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Room: 302</span>
                    </div>
                    <div class="col-md-9 schedule-item-details">
                      <span class="title">Family Crash Room</span>
		    </div>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 10:30pm</span>
                      <span class="location">Mile High Ballroom Pre-Function</span>
                    </div>
                    <div class="col-md-9 schedule-item-details">
                      <span class="title">Morning Break</span>
		    </div>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Mile High Ballroom Pre-Function</span>
                    </div>
                    <div class="col-md-9 schedule-item-details">
		      <span class="title">Twitch Hack Day Lounge</span>
		    </div>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Room: 4a – 4b</span>
                    </div>
                    <div class="col-md-9 schedule-item-details">
                      <span class="title">GoBots and Other Flying Objects</span>
                      <div class="abstract">The Hybrid Group</div>
		    </div>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Room: 4c</span>
                    </div>
                    <div class="col-md-9 schedule-item-details">
                      <span class="title">Docker</span>
		    </div>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Room: 4d</span>
                    </div>
                    <div class="col-md-9 schedule-item-details">
                      <span class="title">Go Project Room</span>
		      <div class="abstract">Anyone involved in the Go project is welcome, regardless of the team you are on.  <a href="http://golang.org/s/gophercon-go-room">Additional Notes</a></div>
		    </div>
                  </div>
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 5:00pm</span>
                      <span class="location">Room: 4f</span>
                    </div>
                    <div class="col-md-9 schedule-item-details">
                      <span class="title">Container Technologies</span>
                      <div class="abstract">Hack on and discuss the various container technologies written in and powered by Go</div>
		    </div>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">10:00am - 1:00pm</span>
                      <span class="location">Room: 4e</span>
                    </div>
                    <div class="col-md-9 schedule-item-details">
	              <span class="title">NATS for Microservices</span>
		    </div>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">12:30pm - 1:30pm</span>
                      <span class="location">Mile High Ballroom Pre-Function</span>
                    </div>
                    <div class="col-md-9 schedule-item-details">
                      <span class="title">Lunch Break</span>
		    </div>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">2:00pm - 5:00pm</span>
                      <span class="location">Room: 4e</span>
                    </div>
                    <div class="col-md-9 schedule-item-details">
                      <span class="title">Go Development with Vim-go</span>
                      <div class="abstract">Fatih Arslan</div>
		    </div>
                  </div> 
                  <div class="row schedule-item">
                    <div class="col-md-3 schedule-item-slot">
                      <span class="time">3:00pm - 3:30pm</span>
                      <span class="location">Mile High Ballroom Pre-Function</span>
                    </div>
                    <div class="col-md-9 schedule-item-details">
                      <span class="title">Afternoon Break</span>
		    </div>
                  </div> 
                </div>
