
                      <div class="row schedule-item">
                        <div class="col-md-3 schedule-item-slot">
                          <span class="time">{{ .sessiontime }}</span>
                        </div>
                        <div class="col-md-9 schedule-item-details">
                          <div class="schedule-item-summary">
                            <span class="title">{{ .purpose }}</span>
                          </div>
                        </div>
                      </div>